body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #111827;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #22c55e;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    background: #020617;
    padding: 15px;
    border-radius: 8px;
}
